html {
  background-color: white;
  font-family: 'Mukta', sans-serif;
}

body {
  width: 60%;
  height: 100vh;
  margin: 0 auto;
  background-color: #DEFF97;
  /* border-left: 2px solid black;
  border-right: 2px solid black; */
  box-shadow: 0 0 5px grey;
}

h1 {
  text-align: center;
}

#endangered-species-form {
  background-color: none;
  width: 90%;
  margin: 0 auto;
  padding: 0;
  padding-top: 20px;
  text-align: center;
}

.form-name {
  background-color: none;
  width: 48%;
  height: 30px;
  line-height: 30px;
  float: left;
  margin-right: 4%;
  text-align: left;
}

.form-name input {
  width: 70%;
  height: 24px;
  float: right;
  text-align: center;
}

.form-species {
  background-color: none;
  width: 48%;
  height: 30px;
  line-height: 30px;
  float: left;
  text-align: left;
}

.form-species input {
  width: 70%;
  height: 24px;
  float: right;
  text-align: center;
}

.form-continent {
  background-color: none;
  text-align: center;
  width: 100%;
  height: 30px;
  line-height: 30px;
  display: flex;
  justify-content: space-between;
  float: left;
  margin-top: 10px;
}

#submit {
  margin-top: 10px;
  width: 100px;
  height: 30px;
  background-color: rgba(255,255,255,1);
  border: 1px solid black;
}

#submit:hover {
  background-color: #c3f94f;
}

#delete-all {
  margin-top: 10px;
  width: 100px;
  height: 30px;
  background-color: rgba(255,255,255,1);
  border: 1px solid black;
}

#delete-all:hover {
  background-color: #c3f94f;
}

#content {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.new-item-styling {
  background-color: white;
  width: 90%;
  /* border: 1px solid black; */
  box-shadow: 0 0 5px grey;
  text-align: center;
  display: inline-table;
  margin: 0 auto;
  margin-bottom: 6px;
  transition: 1s;
}

.new-item-styling:hover {
  box-shadow: 0 0 10px grey;
  transform:scale(1.05);
}

.block {
  float: left;
  width: calc(100% / 3);
  height: 40px;
  line-height: 40px;
  background-color: none;
}
